@import "@/styles/variables.module.scss";

.baseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-background-2);
  cursor: pointer;
}