.baseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  strong {
    font-weight: bold;
  }
}

.frame {
  --crepe-color-background: #FFFFFF;
  --crepe-color-on-background: #000000;
  --crepe-color-surface: #F7F7F7;
  --crepe-color-surface-low: #EDEDED;
  --crepe-color-on-surface: #1C1C1C;
  --crepe-color-on-surface-variant: #4D4D4D;
  --crepe-color-outline: #A8A8A8;
  --crepe-color-primary: #333333;
  --crepe-color-secondary: #CFCFCF;
  --crepe-color-on-secondary: #000000;
  --crepe-color-inverse: #F0F0F0;
  --crepe-color-on-inverse: #1A1A1A;
  --crepe-color-inline-code: #BA1A1A;
  --crepe-color-error: #BA1A1A;
  --crepe-color-hover: #E0E0E0;
  --crepe-color-selected: #D5D5D5;
  --crepe-color-inline-area: #CACACA;

  --crepe-font-title: "Noto Serif", Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: "Noto Sans", Arial, Helvetica, sans-serif;
  --crepe-font-code: "Space Mono", Fira Code, Menlo, Monaco, "Courier New", Courier, monospace;

  --crepe-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --crepe-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.frameDark {
  --crepe-color-background: #2b2b2b;
  --crepe-color-on-background: #E6E6E6;
  --crepe-color-surface: #121212;
  --crepe-color-surface-low: #1C1C1C;
  --crepe-color-on-surface: #D1D1D1;
  --crepe-color-on-surface-variant: #A9A9A9;
  --crepe-color-outline: #757575;
  --crepe-color-primary: #B5B5B5;
  --crepe-color-secondary: #4D4D4D;
  --crepe-color-on-secondary: #D6D6D6;
  --crepe-color-inverse: #E5E5E5;
  --crepe-color-on-inverse: #2A2A2A;
  --crepe-color-inline-code: #FF6666;
  --crepe-color-error: #FF6666;
  --crepe-color-hover: #232323;
  --crepe-color-selected: #32353A;
  --crepe-color-inline-area: #121212;

  --crepe-font-title: "Noto Serif", Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: "Noto Sans", Arial, Helvetica, sans-serif;
  --crepe-font-code: "Space Mono", Fira Code, Menlo, Monaco, "Courier New", Courier, monospace;

  --crepe-shadow-1: 0px 1px 2px 0px rgba(255, 255, 255, 0.30), 0px 1px 3px 1px rgba(255, 255, 255, 0.15);
  --crepe-shadow-2: 0px 1px 2px 0px rgba(255, 255, 255, 0.30), 0px 2px 6px 2px rgba(255, 255, 255, 0.15);
}

.readOnly {
  // 이미지 관련 css 처리
  :global(.image-wrapper) {
    &::before {
      content: none !important;
    }
  }

  :global(.image-resize-handle) {
    display: none;
  }

  :global(.operation-item) {
    display: none;
  }

  :global(.caption-input) {
    pointer-events: none;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -user-select:none;
  }

  // todoList css 처리
  :global(.label-wrapper) {
    pointer-events: none;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -user-select:none;
    cursor: default !important;
  }
}