@import "@/styles/variables.module.scss";

.baseContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
  background-color: var(--color-background-2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: $level-global-top;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.body_mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  color: var(--color-text-1);
}

.body_mainSubText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  color: $color-gray

}

.body_buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}