@import "@/styles/variables.module.scss";

.baseContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  background-color: var(--color-background-2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: $level-global-popup;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: $font-popup-menu;
  color: var(--color-text-1);
}

.line {
  width: 100%;
  height: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: $color-lightGray;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
