@import "@/styles/variables.module.scss";

.baseContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  background-color: var(--color-background-2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  @media (max-width: 500px) {
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.body_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 28px;
  font-weight: bold;
  color: var(--color-text-1);
}

.body_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}