@import './normalize.module.scss';
@import './variables.module.scss';

html[data-theme="light"] {
  --color-text-1: #{$text-color-light-1};
  --color-text-2: #{$text-color-light-2};
  --color-background-1: #{$bg-color-light-1};
  --color-background-2: #{$bg-color-light-2};
  --color-icon: #{$icon-color-light};
  --color-button-background: #{$btn-bg-color-light};
  --color-button-text: #{$btn-text-color-light};
  --color-input-border: #{$input-border-color-light};
  --color-input-text: #{$input-text-color-light};
  --color-popupLabel-text: #{$popupLabel-text-color-light};
  --color-dot-active: #{$dot-color-active-light};
  --color-dot: #{$dot-color-light};
}

html[data-theme="dark"] {
  --color-text-1: #{$text-color-dark-1};
  --color-text-2: #{$text-color-dark-2};
  --color-background-1: #{$bg-color-dark-1};
  --color-background-2: #{$bg-color-dark-2};
  --color-button-background: #{$btn-bg-color-dark};
  --color-button-text: #{$btn-text-color-dark};
  --color-input-border: #{$input-border-color-dark};
  --color-input-text: #{$input-text-color-dark};
  --color-popupLabel-text: #{$popupLabel-text-color-dark};
  --color-dot-active: #{$dot-color-active-dark};
  --color-dot: #{$dot-color-dark};
}