@import "@/styles/variables.module.scss";

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;

  p {
    font-size: $font-footer;
    font-weight: bold;
    color: var(--color-text-1);
  }
}

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 100%;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  font-size: $font-header;
  font-weight: bold;
  color: var(--color-text-1);
}