@import "@/styles/variables.module.scss";

.baseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 250px;

  img {
    border-radius: 10px;
  }
}

.contentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: var(--color-text-1);
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  color: var(--color-text-1);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  width: 100%;
  color: var(--color-text-1);
}
