@import "@/styles/variables.module.scss";

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  background-color: $color-lightGray;
  font-size: 12px;
  border-radius: 50px;
}